<p id="notice"><%= notice %></p>

<h1>프로그램 소개</h1>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>User:</b>
  <%= @course.user_id %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Status:</b>
  <%= @course.status %>
</p>

<td><%= link_to '강의보기', lectures_path(course_id: @course) %></td>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
